<html>
  <head>
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='sidebar.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='galleria.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='carousel.css') }}" rel="stylesheet">	  
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <div class="nav-mobile">
		  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      	<div class="container nav-mobile-container">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#containerNavbar" aria-controls="containerNavbar" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="#">Website Name</a>
          <div class="collapse navbar-collapse" id="containerNavbar">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Page 1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Page 2</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Page 3</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Page 4<span class="sr-only"> (current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Page 5</a>
              </li>
            </ul>
          </div>
			  </div>
		  </nav>
	  </div>
    <div class="container-fluid fill">
      <div class="container rounded">
        <div class="nav-main nav-border">
          <nav>
            <ul class="nav nav-pills float-right">
              <li class="nav-item">
                <a class="nav-link" href="#">Page 1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Page 2</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Page 3</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Page 4<span class="sr-only"> (current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Page 5</a>
              </li>
            </ul>
          </nav>
          <a href="#" style="text-decoration:none;"><h3 class="text-muted">Website Name</h3></a>
        </div>
        <div class="lead">
          <h2>
            {% block header %}
            {% endblock %}
          </h2>

          {% if errors %}
          <p><div class="alert alert-danger" role="alert">
            {% for message in errors %}
                {{ message }}</br>
            {% endfor %}
          </div></p>
          {% endif %}
          {% if warning %}
            <p><div class="alert alert-warning" role="alert">
              {% for message in warning %}
                {{ message }}</br>
              {% endfor %}
            </div></p>
          {% endif %}

          {% block body %}
          {% endblock %}
        </div>
        <footer class="footer">
          <p>&copy; Company&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Website Navigation</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Terms and Conditions</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Privacy</a></p>
        </footer>
      </div>
	  </div>
  </body>
</html>
