{% extends "layout.html" %}
{% set active_page = 'email_templates' %}
{% block title %}Edit Templates{% endblock %}
{% block content %}
<div class="container-fluid">
  <form action="#" method="POST">
    <div class="row">
      <p>
        <strong>Name:</strong> user-register
        <br/>
        <strong>Last edited:</strong> About a year ago
        <br/>
        <strong>Last sent:</strong> About a year ago
        <br/>
        <strong>Times sent:</strong> 4
        <br/>
        <strong>Times read:</strong> 2 (50% of total)
        <br/>
        <strong>Times opened:</strong> 2 (1 view per email)
      </p>
    </div>
    <div class="row">
      <p>
        <strong>Replacement Values:</strong>
        <br/>
        &nbsp;&nbsp;&nbsp;&nbsp;[EMAILADDRESS] - Email address linked to account.
        <br/>
        &nbsp;&nbsp;&nbsp;&nbsp;[USERNAME] - Username (or first part of email if not set).
      </p>
    </div>
    <div class="row">
      <p>
        <label for="email_subject">Template Name:</label>
        <input name="email_subject" class="form-control" id="email_subject" type="text" placeholder="Type the email subject." value="{{ post_data.get('email_subject', '') }}"/>
      </p>
    </div>
    <div class="row">
      <p>
        <label for="email_subject">Subject:</label>
        <input name="email_subject" class="form-control" id="email_subject" type="text" placeholder="Type the email subject." value="{{ post_data.get('email_subject', '') }}"/>
      </p>
    </div>
    <div class="row">
      <p>
        <label for="email_content">Message (HTML):</label>
        <textarea name="email_content" class="form-control" id="email_content" type="text" placeholder="Type the email message.">{% if email_content %}{{ email_content }}{% else %}{{ post_data.get('email_content', '') }}{% endif %}</textarea>
      </p>
    </div>
    <div class="row">
      <p>
        <div class="pull-left">
          <input type="submit" value="Save" name="submit_save" class="btn btn-primary" formaction="{{ url_for('edit_email_template') }}?t_id={{ get_data.get('t_id') }}"/>
        </div>
        <div class="pull-left">
          &nbsp;&nbsp;
        </div>
        <div class="pull-left">
          <input type="submit" value="Preview" name="submit_preview" class="btn btn-primary" formaction="{{ url_for('edit_email_template') }}?t_id={{ get_data.get('t_id') }}"/>
        </div>
        <div class="pull-right">
          <input type="submit" value="Go Back" name="submit_back" class="btn btn-primary" formaction="{{ url_for('edit_email_template') }}"/>
        </div>
        <div class="pull-right">
          &nbsp;&nbsp;
        </div>
      </p>
    </div>
  </form>
</div>
{% endblock %}
