<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %} | Website</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}?refresh=3">
    {% block head %}{% endblock %}
  </head>
  {% set navigation_bar = [
      ('index', 'Index'),
      ('login', 'Login'),
      ('register', 'Register'),
      ('account', 'Account')
  ] %}
  <body>
    <ul id="navigation">
      {% for id, caption in navigation_bar %}
        <li{% if id == active_page %} class="active"{% endif %}><a href="{{ url_for(id)|e }}">{{ caption|e }}</a></li>
      {% endfor %}
    </ul>
    <div class=page>
      <h1>Template</h1>
      <div class=metanav>
      {% if not session.get('account_data', {}).get('id', 0) %}
        <a href="{{ login_url }}">log in</a>
      {% else %}
        <a href="{{ url_for('logout') }}">log out</a>
      {% endif %}
      </div>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
      <div id="footer">
        <font size="1">
          {% block footer %}
          &copy; Copyright 2017 by <a href="http://website.com/">Website</a>.
          {% endblock %}
        </font>
      </div>
    </div>
  </body>
</html>
