{% extends "layout.html" %}
{% set active_page = 'register' %}
{% block title %}Register{% endblock %}
{% block content %}
  <h2>Register</h2>
  {% for message in errors %}<p class=error><strong>Error:</strong> {{ message }}{% endfor %}
  <form action="{{ url_for('register') }}" method=post>
    <dl>
      <dt>Email:
      <dd><input type="text" name="email" value="{{ post_data.get('email', '') or get_data.get('email', '') }}" {% if autofocus == 'email' %}autofocus{% endif %}>
      <dt>Username (optional):
      <dd><input type="text" name="username" value="{{ post_data.get('username', '') or get_data.get('username', '') }}" {% if autofocus == 'username' %}autofocus{% endif %}>
      <dt>Password:
      <dd><input type="password" name="password" value="{{ post_data.get('password', '') }}" {% if autofocus == 'password' %}autofocus{% endif %}>
      <dt>Password (confirm):
      <dd><input type="password" name="password_confirm" value="{{ post_data.get('password_confirm', '') }}" {% if autofocus == 'password_confirm' %}autofocus{% endif %}>
      <dd><input type="submit" value="Register">
      <input type="hidden" name="csrf_token" value="{{ session.get('csrf_token', post_data.get('csrf_token', '')) }}" />
    </dl>
  </form>
{% endblock %}
